$darkcyan: hsl(185, 75%, 39%);
$derydarkdesaturatedblue: hsl(229, 23%, 23%);
$darkgrayishblue: hsl(227, 10%, 46%);



$darkgray: hsl(0, 0%, 59%);


$fontSize:18px;
$bodyFont:'Kumbh Sans', sans-serif;
